@import "./reset";
@import "./variables";
@import "./themes/dark";
@import "./themes/light";
html,
body {
 width: 100%;
 min-height: 100vh;
}

.app {
 min-height: 100vh;

 font: var(--font-m);
 background: var(--bg-color);
 color: var(--primary-color);
}
.mainLayout {
}
