.button {
 cursor: pointer;
 &:hover {
  opacity: var(--opacity-50);
 }
}
.clear {
 margin: 0;
 padding: 0;
 background: none;
 outline: none;
 border: none;
}
.outlined {
 background: none;
 outline: none;
 padding: 4px 8px;
 border-radius: 10px;
}
