.sidebar {
 background: var(--inverted-bg-color);
 width: 300px;
 height: calc(100vh - var(--navbar-height));
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 transition: width var(--transition-delay) ease-in-out;
}

nav {
 display: flex;
 flex-direction: column;
}

.link {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 12px;
 padding: 6px 12px;
 transition: 0.2s linear;
}

.text {
 opacity: 1;
}

.collapsed {
 width: var(--sidebar-width-collapsed);

 .link {
  transition: 0.2s linear;
  gap: 0;
 }

 .text {
  opacity: 0;
  width: 0;
  transition: 0.2s linear;
 }
}

.switcher {
 position: absolute;
 bottom: 20px;
 display: flex;
 flex-direction: column;
 gap: 12px;
}

.collapsedBtn {
 position: absolute;
 top: 50%;
 right: 8px;
}
