.code {
 border: 1px solid var(--inverted-bg-color);
 padding: 20px;
 position: relative;
 background: var(--light-bg-color);
 overflow: auto;
}

.btn {
 position: absolute;
 right: 20px;
 top: 20px;
 display: flex;
}
