.app_dark_theme {
 --bg-color: midnightblue;
 --inverted-bg-color: lightgray;

 --primary-color: darkgreen;
 --secondary-color: green;
 --inverted-primary-color: darkblue;
 --inverted-secondary-color: blue;
}
