.app_dark_theme {
 --bg-color: midnightblue;
 --inverted-bg-color: lightgray;
 --primary-color: darkgreen;
 --secondary-color: green;
 --inverted-primary-color: darkblue;
 --inverted-secondary-color: blue;

 // redesigned
 --redesigned-bg-color: #101010;
 --dark-bg-color: #050505;
 --light-bg-color: #151515;
 --redesigned-inverted-bg-color: gray;
 --text-color: white;
 --inverted-text-color: #050505;
 --shadow-color: #00000050;
}
