.app_light_theme {
 --bg-color: lightgray;
 --inverted-bg-color: midnightblue;
 --primary-color: darkblue;
 --secondary-color: blue;
 --inverted-primary-color: darkgreen;
 --inverted-secondary-color: green;
}
