.commentItem {
 margin-top: 12px;
 padding: 12px;
 border: 1px solid var(--inverted-bg-color);
}

.userInfo {
 display: flex;
 align-items: center;
 margin-bottom: 12px;
}

.avatar {
 margin-right: 8px;
}
