.icon {
 &.priamry {
  fill: var(--primary-color);
  color: var(--primary-color);
 }

 &.primaryInverted {
  fill: var(--inverted-primary-color);
  color: var(--inverted-primary-color);
 }

 &.background {
  fill: var(--bg-color);
  color: var(--bg-color);
 }
}
