// .card {
//  width: fit-content;
// }

.clear {
 background: none;
}

.primary {
 background: var(--inverted-bg-color);
 color: var(--bg-color);
}

.secondary {
 background: var(--bg-color);
 color: var(--inverted-bg-color);
}

.gap_0 {
 padding: 0;
}

.gap_8 {
 padding: 12px;
}

.gap_16 {
 padding: 16px;
}

.gap_24 {
 padding: 24px;
}

.radius_none {
 border-radius: none;
}

.radius_s {
 border-radius: var(--b-raduis-s);
}

.radius_m {
 border-radius: var(--b-raduis-m);
}

.radius_l {
 border-radius: var(--b-raduis-l);
}

.radius_xl {
 border-radius: var(--b-raduis-xl);
}
