.navbar {
  height: var(--navbar-height);
  width: 100%;
  background: var(--inverted-bg-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.link {
  margin-left: 15px;
}

.btn {
  margin-left: 15px;
}