.appLink {
 text-decoration: none;

 &:hover {
  opacity: var(--opacity-70);
 }
}

.primary {
 color: var(--primary-color);

 &.active {
  color: var(--secondary-color);
 }
}

.primaryInverted {
 color: var(--inverted-primary-color);

 &.active {
  color: var(--inverted-secondary-color);
 }
}
