.appLink {
 text-decoration: none;

 &:hover {
  opacity: var(--opacity-70);
 }
}

.clear {
 color: inherit;
}

.primary {
 color: var(--primary-color);

 &.acitve {
  color: var(--inverted-secondary-color);
 }
}

.inverted {
 color: var(--inverted-primary-color);

 &.acitve {
  color: var(--inverted-secondary-color);
 }
}
