.app_light_theme {
  --bg-color: lightgray;
  --inverted-bg-color: darkblue;
  ;
  --primary-color: blue;
  --secondary-color: darkblue;
  --inverted-primary-color: lightgreen;
  --inverted-secondary-color: green;
}